{
    "extends": ["prettier"],
    "plugins": ["prettier", "react", "react-hooks"],
    "rules": {
      "prettier/prettier": ["error"],
      "semi": "error",
      "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
      "react-hooks/exhaustive-deps": "warn",
      "jsx-quotes": [2, "prefer-single"],
      "react/jsx-curly-spacing": [ 2, "always" ]
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  }
}